@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin-top: 0;
}

h1 {
    font-size: 36px;
    line-height: 1;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    line-height: 36px;
}

h3 {
    font-size: 30px;
    line-height: 30px;
}

h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}

h5 {
    font-size: 14px;
    line-height: 18px;
}

h6 {
    font-size: 12px;
    line-height: 14px;
}
.line-clamp-14 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 14; /* Number of lines to show */
    line-clamp: 14; /* For future-proofing as it becomes standardized */
}
.line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; /* Number of lines to show */
    line-clamp: 2; /* For future-proofing as it becomes standardized */
}
.line-clamp-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1; /* Number of lines to show */
    line-clamp: 1; /* For future-proofing as it becomes standardized */
}
.line-clamp-4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4; /* Number of lines to show */
    line-clamp: 4; /* For future-proofing as it becomes standardized */
}
/* .line-clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-clamp: 3;
} */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.nav-item {
    padding-left: 80px !important;
}

.darksoul-hover-fill-button3 {
    margin: auto;
    display: flex;
    width: 150px;
    height: 40px;
    color: rgb(116, 131, 214);
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(116, 131, 214);
    background-color: white;
    font-family: "Belanosima", sans-serif;
    cursor: pointer;
    align-items: center;
    justify-content: left;
}
.color-fill-3 {
    position: absolute;
    margin-left: -7px;
    width: 150px;
    height: 1px;
    background-color: rgb(116, 131, 214);
    visibility: hidden;
}
.darksoul-hover-fill-button3:hover .color-fill-3 {
    visibility: visible;
    width: 156px;
    height: 50px;
    border-radius: 5px;
    transition: all 0.5s;
    background-color: #7483d6;
}
.darksoul-hover-fill-button3:hover {
    box-shadow: 1px 1px 20px rgb(116, 131, 214);
    transition: all 1s;
    color: white;
}
.darksoul-hover-fill-button3 p {
    margin: auto;
    z-index: 10;
}
.name {
    color: rgb(75, 91, 182);
}
.navbar {
    background-color: white !important;
}
.nav-item:hover {
    color: rgb(75, 91, 182) !important;
}
.nav-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
.text-span {
    color: #7483d6;
}
.page-bg-color {
    background-color: #f2f9fc;
}
.img-container img {
    height: 500px;
}
.banner-section {
    padding-top: 150px;
    padding-bottom: 150px;
}
.text-part-banner {
    padding-top: 80px;
}
.bodypart-css p {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #414040;
    text-align: justify;
}
.bodypart-css {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #414040;
    text-align: justify;
}
.get-in-touch {
    background-color: #7483d6;
    color: white;
    padding: 14px;
    border-radius: 20px;
    border: none;
}
.small-text {
    font-size: 14px;
    font-weight: 700;
    color: #636262;
}
.heading-title {
    font-weight: 700;
    font-size: 34px;
}
.service-card {
    border-radius: 10px;
}

.service-page-card {
    height: 333px;
}
.service-icon-container {
    background-color: #ffffff;
    padding: 10px;
    border: none;
    text-decoration: none;
    border-radius: 50%;
    /* height: 60px;
width: 60px; */
}
/* #73CAEF */
.subheadings {
    font-weight: 600;
    font-size: 24px;
}
.photo-box {
    height: 444px;
    width: 100%;
}
.portfolio-img img {
    height: 330px;
    overflow: hidden;
    width: 900px;
    border-radius: 10px;
    /* width: 300px; */
}
.progress {
    height: 10px !important;
}
.bg-info {
    background-color: #7483d6 !important;
}
.small-text-gray {
    font-size: 14px;
    font-weight: 700;
    color: #56575a;
}
.contact-icon {
    color: #7483d6;
    font-size: 1.8rem !important;
    font-weight: 400;
}
.form-group-inline {
    display: flex;
    justify-content: space-between;
}
.form-group-inline .form-group {
    flex: 1;
}
.form-group-inline .form-group:not(:last-child) {
    margin-right: 15px;
}
.modal-content {
    padding: 20px;
}
form label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.form-group {
    padding: 8px;
}
/* .form-control {
    height: 58px;
} */
.fotter {
    height: 200px;
}
.navbar {
    height: 80px;
}
.bodypart-css {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #414040;
    text-align: justify;
}
#header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    box-shadow: 0px 2px 4px grey;
    animation: fadeInDown 0.5s ease-in-out 0s 1 normal none running;
    transition: 0.5s;
}
.nav-img img {
    height: 66px;
}
@keyframes fadeInDown {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    100% {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}
.blog-media-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    transition: transform 0.4s ease-in-out;
}
.blog-media-wrapper {
    height: 423px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 0px 0px;
}
.blog-icon {
    color: #b42126;
    position: absolute;
    top: 16px;
    right: 15px;
    font-size: 16px;
    background-color: white;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-card {
    border-radius: 20px;
    background-color: white;
}
.blog-card:hover .blog-icon {
    color: white;
    background-color: #7483d6;
}
.blog-card:hover img {
    transform: scale(1.2);
}
.about-icon {
    color: #7f7f81;
    font-size: 2.2rem !important;
    font-weight: 400;
}
.experience-icon {
    color: #252525;
    font-size: 1.5rem !important;
    font-weight: 400;
}
.experience-box {
    height: 300px;
}
.demo-btn {
    border: none;
}
.demo-btn {
    background-color: #ffffff;
    border: 1px solid #858585;
    border-radius: 30px;
    padding: 10px;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #56575a;
}
h4 {
    color: #6e6b6b;
}
.social-icon {
    color: white;
    background-color: #7483d6;
    padding: 8px;
    border-radius: 50%;
}
